.mainContainer {
  min-height: 800px;
  height: auto;
  background-color: #ffffff;
  /* max-height: 900px; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 80px 10px 0;
  gap: 20px;
}
.mainImageContainer {
  width: 50%;
}
.containerImage {
  width: 95%;
  position: relative;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border-radius: 1rem;
   overflow: hidden;
   height: 500px;
}
.containerImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
   /* transform: scale(0.7);  */
  border-radius: 1rem;
}
.tag {
  position: absolute;
  padding: 0.5rem 1rem;
  background-color: rgb(37 99 235);
  color: white;
  top: 20px;
  left: 20px;
  border-radius: 50px;
  font-weight: 600;
  font-size: 14px;
}

.containerContent {
  width: 50%;
}

.title {
  margin-top: 30px;
font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.title span {
  color: rgb(37 99 235 / var(--tw-text-opacity, 1));
}

.description{
    font-size: 1.125rem;
    line-height: 1.625;
    color: rgb(75 85 99 );
    margin-top: 20px;
}

.bannerDetails {
  display: flex;
 align-items: start;
 justify-content: center;
 flex-wrap: wrap;
  gap: 0rem;
  margin-top: 2rem;
  height: auto;
}

.detailItem {
    width: 50%;
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 0.9rem; 
  padding: 0.4rem;
}
.itemIcon{
    background-color: rgb(219 234 254);
    padding: 14px 14px;
    border-radius: 10px;
    
}
.itemIcon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.itemContent h5{
    font-weight: 600;
    font-size: 16px;
     width: 80%;
}

.itemContent p{
    color: rgb(75 85 99); 
     width: 95%;
     font-size: 0.875rem;
}

.badgeContainer{
    display: flex;
    gap: 5px;
    margin-top: 25px;
}

/* Responsive styles */
@media (max-width: 992px) {
  .mainContainer {
    min-height: 950px;
    padding-bottom: 50px;
  }
  
  .container {
    padding: 60px 10px 0;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .mainImageContainer {
    width: 100%;
  }
  
  .containerImage {
    height: 450px;
    width: 95%;
    margin: 0 auto;
  }
  
  .containerContent {
    width: 100%;
    text-align: left;
  }
  
  .title {
    font-size: 2rem;
    margin-top: 20px;
  }
  
  .description {
    font-size: 1rem;
    margin-top: 15px;
    width: 95%;
  }
  
  .bannerDetails {
    margin-top: 1.5rem;
  }
  
  .detailItem {
    padding: 0.3rem;
  }
  
  .itemIcon {
    padding: 10px;
  }
  
  .itemContent h5 {
    font-size: 15px;
  }
  
  .itemContent p {
    font-size: 0.8rem;
  }
  
  .badgeContainer {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    min-height: auto;
    padding-bottom: 40px;
  }
  
  .container {
    flex-direction: column;
    padding: 40px 0px;
    text-align: start;
  }
  
  .mainImageContainer {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .containerImage {
    width: 100%;
    height: 500px;
  }
  
  .containerContent {
    width: 100%;
    text-align: start;
  }
  
  .title {
    font-size: 1.75rem;
    text-align: start;
  }
  
  .description {
    text-align: start;
    width: 100%;
        font-size: 1.2rem;;
  }
  
  .bannerDetails {
    justify-content: center;
  }
  
  .detailItem {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
  }
  
  .itemContent h5,
  .itemContent p {
    width: 100%;
    text-align: left;
  }
  
  .badgeContainer {
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
  }
}