.mainContainer {
  min-height: 700px;
  height: auto;
  background-color: #fff7ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72%;
  height: 100%;
  padding: 80px 10px;
  gap: 20px;
}

.mainCard {
  padding: 3rem;
  background-color: #fff;
  border-left: 4px solid rgb(249 115 22);
  border-radius: 1rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.slotAvailable {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;
  width: 93%;
}

.slotAvailable h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: bold;
}

.slotAvailable h2 span {
  color: rgb(249 115 22);
}

.slotAvailable p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgb(75 85 99);
}

/* .clockIcon {
  background-color: #ffedd5;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.clockIcon h3{
  background-color: #ffedd5;
  color: #ea5b10;
}

.cardsContainer {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 25px;
  margin-top: 15px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  padding: 1rem;
  border-radius: .5rem;
  width: 33%;
}

.cardContent {
  font-size: .875rem;
  line-height: 1rem;
}

.cardContent h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.slotsTitle h5 {
  color: #9a3412;
  font-size: 16px;
  font-weight: 600;
}


.onlySlots p {
  margin: 10px 0px;
}

/* Responsive styles */
@media (max-width: 992px) {
  .mainContainer {
    min-height: 650px;
  }

  .container {
    width: 85%;
    padding: 60px 10px;
  }

  .mainCard {
    padding: 2rem;
    width: 100%;
  }

  .slotAvailable {
    width: 100%;
    gap: 15px;
  }

  .slotAvailable h2 {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  .slotAvailable p {
    font-size: 1rem;
    line-height: 1.5rem;
  }


  .cardsContainer {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
  }

  .card {
    width: 45%;
    margin-bottom: 15px;
    padding: 0.8rem;
  }

  .cardContent h5 {
    font-size: 0.9rem;
  }

  .cardContent p {
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0;
  }

  .container {
    width: 95%;
    padding: 40px 0px;
  }

  .mainCard {
    padding: 1.5rem;
  }

  .slotAvailable {
    align-items: start;
    text-align: start;
  }

  .clockIcon {
    margin-bottom: 15px;
  }

  .slotAvailable h2 {
    font-size: 1.5rem;
    text-align: start;
    line-height: 1.5 !important;
  }

  .mainCard {
    width: 100%;
  }

  .subCards {
    display: flex;
    flex-direction: column;
  }

  .slotAvailable p {
    text-align: start;
    font-size: 1.2rem;
    line-height: 1.5 !important;
  }

  .cardsContainer {
    flex-direction: column;
  }

  .slotsTitle {
    justify-content: center;
    margin-bottom: 20px;
  }

  .slotsTitle h5 {
    color: rgb(154 52 18);
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0 !important;
  }

  .onlySlots p {
    font-size: 1.1rem;
  }

  .card {
    width: 100%;
  }
}

.cardContent h5 {
  margin-bottom: 0px;
  font-weight: 600;
}

.cardContent p {
  margin-bottom: 0;
}

.cardsContainer .card:nth-of-type(1) {
  color: rgb(22 163 74);
  background-color: rgb(240 253 244);
}

.cardsContainer .card:nth-of-type(2) {
  color: rgb(37 99 235);
  background-color: #eff6ff;
}

.cardsContainer .card:nth-of-type(3) {
  color: rgb(147 51 234);
  background-color: #faf5ff;
}

.cardsContainer .card:nth-of-type(1) h6 {
  color: rgb(22 101 52) !important;
}

.cardsContainer .card:nth-of-type(2) h6 {
  color: rgb(30 64 175) !important;
}

.cardsContainer .card:nth-of-type(3) h6 {
  color: rgb(107 33 168) !important;
}

.onlySlots {
  margin-top: 40px;
  background-color: #fff7ed;
  padding: 1.5rem;
  color: rgb(194 65 12);
  border: 1px solid rgb(254 215 170);
  border-radius: .5rem;
}

.circle {
  display: inline-block;
  background-color: rgb(249 115 22);
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 15px;
  animation: pulse 2s cubic-bezier(.4, 0, .6, 1) infinite;
}


.secureSlot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

.secureSlot button {
  font-weight: 700 !important;
  transition: all 0.2s ease-in-out;


}

.secureSlot button:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  background-color: rgb(215, 85, 14) !important;
}

.secureSlot p:nth-of-type(1) span {
  font-weight: 700;

}

.secureSlot p:nth-of-type(1) {
  color: rgb(75 85 99);
  opacity: 1;
  margin-top: 20px;
  font-size: 1rem;
  margin-bottom: 8px;
}

.secureSlot p:nth-of-type(2) {
  color: rgb(107 114 128);
  font-size: .875rem;
  line-height: 1.25rem;
  margin-bottom: 0;
}

.secureSlot p:nth-of-type(2) span {
  color: rgb(234 88 12);
}

.subCards {
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.subCard1,
.subCard2 {
  width: 100%;
  background-color: white;
  padding: 1.6rem;
}


.subCard1 {
  border-left: 4px solid rgb(248 113 113);
  border-radius: 1rem;
}

.subCard2 {
  border-left: 4px solid rgb(96 165 250);
  border-radius: 1rem;
}

.subCard1 h5,
.subCard2 h5 {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.subCard1 p,
.subCard2 p {
  margin-bottom: 0px;
  color: rgb(75 85 99);
  font-size: 14px;
}


@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
}