.checkupsec {
    background-color: #eefaff;
    padding: 80px 0px;
}

.checkupcard {
    background-color: #fff;
    padding: 30px;
    transition: all 0.2s ease-in-out;
}

.checkupcard:hover {
    transform: translateY(-15px);
    transition: all 0.2s ease-in-out;
}

.checkupcard h3 {
    color: #2563eb;
    background-color: rgb(219 234 254);
}

.checkupcard h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

.checkupcard p {
    color: rgb(75 85 99);
    line-height: 1.625;
    height: 55px;
    margin: 20px 0px;
}

.checkupcard h6 {
    color: rgb(75 85 99);
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.greenpoint {
    width: 8px;
    height: 8px;
    background-color: rgb(34 197 94);
    border-radius: 50px;
}

.checkupcard button {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
}

.checkupcard button h6 {
    font-weight: 400;
    font-size: 16px;
    color: #2563eb;
}

.checkupcard button:hover {
    background-color: #2563eb !important;
    padding: 14px;
}

.checkupcard button:hover h6 {
    color: #fff !important;
}

.checkupcard:hover h3 {
    background-color: #2563eb;
    color: #fff;
}

.stories p {
    font-size: 18px;
    color: rgb(75 85 99);

}

.stories button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    background-color: #0b48ce !important;

}

.stories button {
    transition: all 0.2s ease-in-out;

}


@media (width < 1200px) {

    .checkupcard p {
        height: 68px;
        font-size: 15px;
    }

    .checkupcard h4 {
        font-size: 18px;
    }

}



@media (width < 768px) {
    .checkupsec {
        padding: 60px 0px;
    }

    .checkupcard p{
        height: fit-content;
    }

    .stories p {
        font-size: 15px;
    }

}