.testimonalsec {
    padding: 80px 0px;
}

.testimonalcard {
    width: 900px;
}

.reviewcard {
    background-color: #edfaff;
    padding: 50px;
    border-radius: 20px;
    margin: 20px 0px;
    height: 450px;

}

.info p {
    font-size: 23px;
    line-height: 32px;
    font-weight: 500;
    height: 100px;
}


.arrow svg {
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 30px;
    cursor: pointer;
}

.arrow svg:hover {
    background-color: #edfaff;

}

.designation h4 {
    font-size: 18px;
    font-weight: 550;
}

.designation h6,
.stories p {
    color: rgb(75 85 99);
}

.stories button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
    background-color: #0b7a34 !important;
}

.stories button {
    transition: all 0.2s ease-in-out;

}

@media (width < 1200px) {


    .reviewcard {
        height: fit-content;
    }

    .info p {
        font-size: 20px;

        height: fit-content;
    }
}


@media (width < 992px) {

    .testimonalcard {
        width: 100%;
    }

    .info p {
        font-size: 18px;
        height: 100px;

    }

}


@media (width < 768px) {

    .info p {
        font-size: 16px;
        height: fit-content;
        line-height: 24px;
    }

    .designation h4,
    .designation h6 {
        font-size: 15px;
    }

    .testimonalsec {
        padding: 60px 0px;
    }

    .stories p {
        font-size: 15px;
    }
}

@media (width < 576px) {

    .arrow svg {
        width: 35px;
        height: 35px;
    }

    .reviewcard {
        padding: 40px 20px;
    }

    .info p {
        font-size: 14px;
        height: 100px;
    }

    .designation h4,
    .designation h6 {
        font-size: 12px;
    }




}